ol {
	padding: 0;
}

body {
  /*background: #20262E;*/
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
	display: flex;
	align-items: center;
}

.delete-btn:hover {
	opacity: 1;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

span {
	padding-left: 16px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input {
  margin-right: 16px;
	margin-bottom: 16px;
}

.filter-btn {
	border: none;
	background: #02b3e4;
	padding: 4px 16px;
	border-radius: 4px;
	color: #fff;
	box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
	transition: all .3s ease;
	cursor: pointer;
	margin-right: 4px;
}

.filter-btn:hover {
	box-shadow: 0 4px 16px 4px rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 16px 24px 0 rgba(17,22,26,.08);
}

.custom-input {
	border: none;
	box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
	border-radius: 4px;
	transition: all .3s ease;
	outline: none;
	padding: 8px;
}

.custom-input:focus {
	box-shadow: 0 4px 16px 4px rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 16px 24px 0 rgba(17,22,26,.08);
}
.delete-btn, .check-btn {
	cursor: pointer;
}
.delete-btn {
	opacity: 0;
	transition: all .3s ease;
}

.active {
	background: #018cb2;
}